# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BomberFor7tamFromASerBystrov.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Neagz\Project\BomberFor7tamFromASerBystrov\.idea\.idea.BomberFor7tamFromASerBystrov\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
